<section id="footer" class="">

  <div class="container-fluid text-dark">
    <div class="d-flex justify-content-center pt-3">
      <a target="_blank" href="#"><i class="fab fa-twitter fa-2x"></i></a>
      <a target="_blank" class="mr-2 ml-2 href=" #"><i class="fab fa-facebook-square fa-2x"></i></a>
      <a target="_blank" href="#"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
<div class="">
	<hr>
</div>
		<div class="">
			<p class="text-center pb-3"> Copyright 2021 Gursoy Karatas - All Rights Reserved!</p>
		</div>
  </div>

</section>
