<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yazi</title>
  </head>
  <body>
    <h1> <%= baslik %> </h1>
    <p>Burasi yazinin icerigi olacak.  </p>
    <p>Yorum Sayisi: <%= yorumsayisi %></p>



  </body>
</html>
